.nav-item {
    color: white;
}

.navbarCollapse {
    width: 100%;
}

.nav-item {
    transition: transform .1s;
}

.nav-item:hover {
    transform: scale(1.15);
    color: white;
}

.dropdown-menu {
    width: auto;
    backdrop-filter: blur(8px);
	background-color: #00000050;
	border-radius: 8px;
	border: 1px solid #fff;
	box-shadow: 0 0 10px 0 #ffffff80;
}

.navText {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}